<div class="page_help">
	<div class="container">
		<h2>
			Comment pouvons-nous vous aider ?
		</h2>
		<form class="searchbox" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
			<input type="text" name="search" id="search" class="searchbox-input input-default" placeholder="Tapez votre recherche ici">
			<div class="">
				<span> Rechercher dans:</span>
				<div class="field">
					<input name="user[remember_me]" type="hidden" value="0">
					<input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
				  <label for="user_remember_me">FAQ</label>
				</div>
				<div class="field">
					<input name="user[remember_me]" type="hidden" value="0">
					<input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
				  <label for="user_remember_me">Communauté Climateriaux</label>
				</div>
				<div class="field">
					<input name="user[remember_me]" type="hidden" value="0">
					<input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
				  <label for="user_remember_me">Tutoriels</label>
				</div>
			</div>
		</form>
	</div>
	<section class="list-section">
		<%= image_tag("help_top.svg") %>
		<!--<img src=" " class="img-top-help">-->
		<div class="link-list">
			<div class="container">
				<ul class="row">
					<li class="col-md-8">
						<ul>
							<li><h3>Vos commandes</h3></li>
							<li><span>Suivre votre colis</span></li>
							<li><span>Modifier ou annuler des commandes</span></li>
						</ul>
					</li>
					<li class="col-md-8">
						<ul>
							<li><h3>Vos commandes</h3></li>
							<li><span>Suivre votre colis</span></li>
							<li><span>Modifier ou annuler des commandes</span></li>
						</ul>
					</li>
					<li class="col-md-8">
						<ul>
							<li><h3>Vos commandes</h3></li>
							<li><span>Suivre votre colis</span></li>
							<li><span>Modifier ou annuler des commandes</span></li>
						</ul>
					</li>
					<li class="col-md-8">
						<ul>
							<li><h3>Vos commandes</h3></li>
							<li><span>Suivre votre colis</span></li>
							<li><span>Modifier ou annuler des commandes</span></li>
						</ul>
					</li>
					<li class="col-md-8">
						<ul>
							<li><h3>Vos commandes</h3></li>
							<li><span>Suivre votre colis</span></li>
							<li><span>Modifier ou annuler des commandes</span></li>
						</ul>
					</li>
					<li class="col-md-8">
						<ul>
							<li><h3>Vos commandes</h3></li>
							<li><span>Suivre votre colis</span></li>
							<li><span>Modifier ou annuler des commandes</span></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<%= image_tag("help_bottom.svg") %>
		<!--<div class="img-bottom-help"></div>-->
	</section>
	<section class="user-link-help">
		<div class="container">
			<div class="row">
				<div class="col-md-12 community">
					<%= image_tag 'network_users.png' %>
					<h3>La communauté</h3>
					<span>CONSEILS - SERVICES - PRÊT D’OUTILS</span>
					<p>Besoin de conseils, de services ou d’outils ?
					Échangez avec les membres passionnés de la communauté Climateriaux !</p>
					<a class="btn-default">Accéder à l'espace</a>
				</div>
				<div class="col-md-12">
					<div class="help-tuto">
						<h3>Nos tutos</h3>
						<p>Isolation du toît, Apprenez et progresez !</p>
						<a class="btn-default">Voir tous les tutos</a>
					</div>
					<div class="calcul-tool">
						<h3>Nos outils de calcul</h3>
						<span>DÉDUCTION D’IMPÔTS - BUDGET À PRÉVOIR</span>
						<a class="btn-default">Utiliser nos outils</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
