.shopping-cart{
  padding:60px 0;
  .well{
    @include white-block();
    background: #fff !important;
    border:0;

    img{
      height:73px;
    }

    .cart-products{
      border-top:1px solid #EFEFF1;
      margin-top: 30px;

      .display-table{
        height:73px;
        display: table;

        .display-tableCell{
          display: table-cell;
          vertical-align: middle;
        }
      }

      input{
        width:70px;
      }
    }
  }

  .cart-process{
    margin-bottom:30px;
    .cart-process-numbers{
        display: inline-block;
        background:$green;
        color: #fff;
        width:20px;
        height: 20px;
        text-align: center;
        @include border-radius(10px);
        font-size: 12px;
        padding-top:1px;
    }

    h3{
      display: inline-block;
      margin-top: 2px;
    }
  }

  .sidebar-cart{
    @include white-block();

    h3{
      margin-bottom: 20px;
    }

    .sidebar-item{
      padding:15px 0;

      &.total-item{
        span{
          font-size:20px;
          font-weight: 400;
        }
      }
    }
  }
}
