.page-category {
  background: $grey-background-2;
  padding:0;

  .img-category{
  	background:linear-gradient(135deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%), image_url('category/peinture.jpg');
  	background-size: cover;
  	height: 20vh;
  	min-height: 300px;
  	text-align: center;
  	display: table;
  	width:100%;

  	.display-tablCell{
  		display:table-cell;
  		vertical-align: middle;

      .container{
        margin-top: 40px;

        span{
          color:#fff;
          padding:20px 30px;
          border:1px solid #fff;
          @include border-radius(3px);
          @include transition(0.3s);

          &:hover{
            background:$green;
             border:1px solid $green;
          }
        }
      }

	  	h1{
	  		color:#fff;
	  		margin:0;
	  	}
	  }
  }

  .category-sidebar{
  	background:#fff;
    @include white-block();

    h3{
      margin-bottom: 20px;
    }

    .field{
      margin-bottom: 10px;
    }
  }

  .breadcrumb {
    margin-top: 20px;
  }

  .one-product-block {
    @include white-block();
    padding: 20px 30px;
    margin-bottom:10px;
    color:$text-color;

    .product-stars-container{
      margin-top: 20px;
    }
  }

  .bloc_tutorial{
    background-image: image_url('img_tuto_category.png');
    background-size:cover;
    width: 100%;
    height:550px;
    padding:50px;
    color:#fff;

    h2{
      margin-bottom:50px;
    }
  } 
}

