.page_help{
	text-align:center;
	background:#fff;
	padding-top:60px;

	h2{
		margin-bottom: 40px;
	}

	#search{
		width:700px;
		text-align: center;
		@include border-radius(25px);
		margin-bottom: 40px;
	}

	.field{
		display: inline-block;
		margin-left:30px;
	}

	.list-section{

		.img-top-help{
			background:image_url('help_top.svg');
			height: 185px;
			background-size:100%;
			background-repeat:no-repeat;
		}

		.img-bottom-help{
			background:image_url('help_bottom.svg');
			height: 108px;
			background-size:100%;
			background-repeat:no-repeat;
		}

		.link-list{
			background:#f8f8f8;
			padding:30px 0 60px;
			text-align: left;

			ul{
				margin-top:30px;
			}

		}
	}

	.user-link-help{
		padding:60px 0;
		h3{
			margin-bottom: 20px;
		}

		span{
			margin:20px 0;
		}

		.btn-default{
			margin-top:20px;
		}

		.community{
			h3, p{
				color:#fff;
			}

			background:$green;
			padding:42px 40px;

			.btn-default{
				background:#fff;
				color:$green;

				&:hover, &:active{
					background:#fff;
					colot:$green;
				}
			}
		}

		.help-tuto{
			background:image_url('img_tuto_help.jpg');
			padding:40px;
			h3, p{
				color:#fff;
			}
		}

		.calcul-tool{
			background:#FACC39;
			padding:40px;
			margin-top:5px;
		}
	}
}