// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.grey-bar-title {
  background-color: #c9c9c9;
  height: 4px;
  width: 50px;
  margin: 20px auto 45px auto;
}

.owl-wrapper-outer{
  overflow: visible !important;
}

.jumbotron{
  padding-top:155px;
  margin: 0;
  height: 70vh;
  min-height: 600px;
  background-image: image_url('slider.jpg');
  background-size: cover;
  filter: blur(2px);

  .container{
    text-align: center;

    h1{
      margin: auto;
      color:#fff;
      width:685px;
    }

    .search-bar{
      padding-top:60px;

      .search-field {
        height:60px;
        width:90%;
        max-width:700px;
        background: #FFF;
        border-radius: 5px 0 0 5px;
        border:0;

        @media screen and (max-width: 600px){
          width:80%;
        }
      }

      .search-button {
        border-radius: 0 5px 5px 0;
        height: 60px;
        width: 60px;
        vertical-align: top;
        margin-left: -4px;
        padding: 0;
      }
    }
  }
}

.materials-home{
  text-align: center;
  padding: 60px 0 170px;

  img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
  }
}

.slider-home {
  position: relative;

  #owl-slider-prev, #owl-slider-next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 2;
    color: #fff;
    border: 2px #fff solid;
    border-radius: 50%;
    padding: 2px 5px;
    margin: 0 10px;
    cursor: pointer;
  }

  #owl-slider-next {
    right: 0;
  }

  .owl-item .item div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #fff;
    width: 80%;

    .title-slider {
      font-size: 40px;
    }

    .content-slider {
      font-size: 14px;
    }
  }
}

.categories-home {
  background: $grey-background;

  @media screen and (max-width: 769px){
    padding: 5px 10px;
  }

  svg{
    margin-top:-150px;

    a:hover{
      opacity: 0.8;
    }
  }

  ul {

    li{
      height:160px;
      padding:5px;
      &.peintures-colles .img-category{ background: image_url('slider.jpg');}

      @media screen and (max-width: 500px){
        width:100%;
      }

      .img-category{
        width:100%;
        height:100%;
        background-size: cover !important;
        display: inline-block;

        .gradient-overlay{
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.3);
          display: table;

          .table-cell{
            display: table-cell;
            vertical-align: middle;
            text-align: center;

            h3{
              color:#fff;
              margin:0;
            }
          }
        }
      }
    }
  }
}

.tutoriels-home {
  padding: 70px 0;
  background: $grey-background;

  p{
    max-width:1150px;
    margin: auto;
  }

  #owl-tutoriels {
    padding: 40px 0 50px 0;
  }
}

.howItWork-home{
  height: 545px;
  background: $green-gradient;
  color:#fff;
  padding:40px 100px 0 100px;

  p, a{
    color:#fff;
  }

  p{
    margin-top:20px;
  }

  .carousel{
    .item{
      img{
        float: left;
      }

      .item-description{
        text-align: left;
        padding-left: 20px;
      }
    }
    .carousel-indicators {
      position: absolute;
      left: 78%;
      width: 50px;
      margin-left: 0;
      padding-left: 0;
      list-style: none;
      bottom: 100px;
      display: inline-block;
    }
  }
}

.articles-home {
  padding: 100px 0 70px 0;
  background-color: $grey-background;

  #owl-articles {
    padding: 90px 0 70px 0;
  }

  .article {
    background: #fff;
    box-shadow: $shadow;

    img {
      width: 100%;
    }

    .info-article {
      padding: 20px 20px 30px 20px;

      h3 {
        font-weight: bold;
        font-size: 18px;
        margin: 0 0 30px 0;
        text-transform: capitalize;
      }

      p {
        margin: 0 0 30px 0;
      }

      span {
        font-size: 14px;

        &:first-child{
          padding-right: 15px;
        }

        i{
          padding-right:5px;
        }
      }
    }
  }
}

.certification {
  background-image:#fff;
  border-top:1px solid rgba(0,0,0,0.05);
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 50px 0;

  .rassurance{
    padding:30px 20px;

  }

  img{
    height:70px;
  }

  h3{
    margin-top:30px;
  }
}
