// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-product {
  background: $grey-background-2;

  .breadcrumb {
    margin-top: 20px;
  }
}

.product-block {
  @include white-block();
  padding: 80px;
  text-align: center;
}

.product-marque {
  color: $green;
  font-size: 16px;
  margin-top: 20px;
}

.product-title {
  font-size: 26px;
  margin-bottom: 32px;
  color: $text-color;
}

.product-description {
  text-align: justify;
  font-size: 16px;
  color: $grey-text;
}

.select-customer, .select-product {
  @include white-block();
  padding: 30px 35px;
}


.icon-choose-product {
  border: 1px solid $text-color;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  font-size: 22px;
  padding: 5px 5px 0 0;
  @include border-radius(25px);
  margin-top: 25px;
  margin-bottom: 20px;
}

.add-to-cart {
  @include button-default(#f28956, #f28956);
  margin-top: 35px;
}