// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-product {
  background: $grey-background-2;

  .breadcrumb {
    margin-top: 20px;
  }
}

.product-block {
  @include white-block();
  padding: 80px;
  text-align: center;
}

.product-marque {
  color: $green;
  font-size: 16px;
  margin-top: 20px;
}

.product-title {
  font-size: 26px;
  margin-bottom: 32px;
  color: $text-color;
}

.product-description {
  text-align: justify;
  font-size: 16px;
  color: $grey-text;
}

.select-customer, .select-product {
  @include white-block();
  padding: 30px 35px;
  margin-bottom: 50px;
}

.icon-customer-product, .icon-choose-product {
  border: 1px solid $text-color;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  @include border-radius(25px);
  margin-top: 25px;
  margin-bottom: 20px;

}

.icon-customer-product {
  background: image_url('icones/customer.png') no-repeat;
  background-position: 11px center;
  float: left;
}

.text-customer-product {
  font-size: 18px;
  padding-left: 15px;
  display: inline-block;
  height: 45px;
  margin: 25px 0 20px 0;
  padding-top: 10px;
}

.icon-choose-product {
  font-size: 22px;
  padding: 5px 5px 0 0;
}

.text-choose-product {
  font-size: 18px;
  padding-left: 15px;
}

.add-to-cart {
  @include button-default(#f28956, #f28956);
  margin-top: 35px;
}

.title-detail-product {
  padding-left: 60px;
  font-weight: bold;
  font-size: 30px;
  margin-top: 45px;
  margin-bottom: 40px;
}

.content-detail-product {
  @include white-block();
  padding: 60px;
}

.title-detail {
  font-size: 16px;
  color: $text-color;
  margin-bottom: 20px;
}

.text-detail {
  font-size: 16px;
  color: $grey-text;
  margin-bottom: 35px;
}