.page-search {
  background: $grey-background-2;
  padding-bottom: 60px;

  .search-bar{
    padding:60px 0;
    text-align: center;

    .search-field {
      height:60px;
      width:700px;
      background: #FFF;
      border-radius: 5px 0 0 5px;
      border:0;
    }

    .search-button {
      border-radius: 0 5px 5px 0;
      height: 60px;
      width: 60px;
      vertical-align: top;
      margin-left: -2px;
    }
  }
}

