<div class="tutoriel">
  <h3>Titre tutoriel</h3>
  <p>
  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <a href="#" class="lien-plus">
    <span>voir le tutoriel</span>
  </a>
</div>