<div class="tutoriel">
  <h3><%= tutorial.title %></h3>
  <p>
  	<%= tutorial.resume %>
  </p>
  <%= link_to tutorial_path(tutorial.slug), class: "lien-plus" do %>
    <span>voir le tutoriel</span>
  <% end %>
</div>