<div class="container-fluid page-tutorial">
  <div class="row">
		<% @tutorials.each do |tutorial| %>
	  	<div class="col-md-8 tutorial-item">
				<%= render "shared/tutorial_block" %>
			</div>
		<% end %>
	</div>
</div>