header {

  a, a:hover, a:focus {
    color: #fff;
  }

  .navbar-fixed-top .navbar-collapse{
    max-height: none;
    box-shadow:$shadow;
  }

  #logo {
      height: 100%;
      padding:0 20px;
    }

  button{
    margin:0 !important;
    padding:17px !important;

    .icon-bar{
      background: #fff;
    }
  }

  .navbar-collapse{
    padding:0;
    max-height: none;
  }

  .nav {
    font-size: 16px;
    float: right;


     @media(max-width:769px){
      width:100%;
      margin:15px 0;
    }

    .block-cart, .block-user {
      a {
        color: #fff;
      }
    }

    .block-user{
      @media(min-width:769px){
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
    
    li{
      @media(max-width:769px){
        width:100%;
      }

      > a{
        text-shadow: none;

        i{
          padding-right: 7px;
        }
      }
    }
  }

  .searchbox {
    position:relative;
    min-width:50px;
    height:50px;
    float:left;
    overflow:hidden;
    color: #fff;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    border-left:1px solid rgba(255,255,255,0.1);

    @media(min-width:769px){
        width:500px;
    }

    @media(max-width:769px){
        width:100%;
        background:rgba(255,255,255,0.2)
    }

    .searchbox-input{
        top:0;
        left:0;
        border:0;
        outline:0;
        width:100%;
        height:50px;
        margin:0;
        padding:0px 20px 0px 55px;
        font-size:16px;
        background-color:transparent;
    }

    .searchbox-input::-webkit-input-placeholder {
        color: #fff;
    }

    .searchbox-input:-moz-placeholder {
        color: #fff;
    }
    
    .searchbox-input::-moz-placeholder {
        color: #fff;
    }
    
    .searchbox-input:-ms-input-placeholder {
        color: #fff;
    }

    .searchbox-icon, .searchbox-submit{
      width:50px;
      height:50px;
      display:block;
      position:absolute;
      top:0;
      left:0;
      padding:0;
      margin:0;
      border:0;
      outline:0;
      line-height:50px;
      text-align:center;
      cursor:pointer;
      background-color:transparent;
    }
  }

  .searchbox-open{
    width:100%;
  }

  .byline{
    position:absolute;
    top:150px;
    left:30%;
    text-align:center;
    font-size:18px;
  }
  .byline a{
    text-decoration:none;
    color: #d74b4b;
  }

  .categories{
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: $menu-background;
    width: 100%;
    text-align: center;

    a {
      color: $text-color;
    }

    .primary-category{
      display: inline-block;
      padding: 14px 0;

      @media screen and (max-width: 769px){
        width: 100%;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        text-align: left;
      }

      a{
        padding: 16px 15px;
      }

      &:hover{
        background:#fff;
      }


      >ul{
        display: none;
        position: absolute;
        top: 100px;
        background: #F2F0F0;
        padding: 20px;
        width: 201px;
        text-align: left;
        list-style: none;
        background: #fff;
        line-height: 30px;
      }

      &:hover{
        cursor: pointer;
        >ul{
          @media screen and (min-width: 769px){
            display: block;
          }
        }
      }
    }
  }

  .secondary-category div{
    border-bottom: 1px solid #aaa;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    position: relative;

    &:hover, &:active {
      background-color: $menu-background-hover;
    }
  }

  .secondary-category {
    display: none;

    div {
      padding: 20px;

      i {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(0px, -50%);
      }

      img {
        position: absolute;
        top: 50%;
        left: 50px;
        transform: translate(0px, -50%);
      }

      span {

      }
    }
  }

  .current-category span {
    padding-left: 70px;
  }
}