@mixin white-block() {
  background-color: #fff;
  border-bottom: #e9e9ed 2px solid;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
          border-radius: 5px;
}