@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

@mixin white-block() {
  background-color: #fff;
  padding:20px;
  @include box-shadow($shadow);
  @include border-radius($radius);
}

@mixin button-default($green-gradient, $color-hover) {
  background: $green-gradient;
  background-image: none;
  text-shadow: none;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 14px;
  padding: 15px 0;
  display: inline-block;
  width: 100%;

  &:hover, &:active, &:focus, &:hover:active {
    background-color: $color-hover;
    color: #fff;
    text-decoration: none;
  }
}
