/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

@import "bootstrap/bootstrap-theme.min";
@import "bootstrap/bootstrap.min";

@import "variables";
@import "fonts";
@import "mixin";

@import "old-style";

@import "layout/header";
@import "layout/footer";

@import "pages/home";
@import "pages/category";
@import "pages/product";
@import "pages/search";
@import "pages/login";
@import "pages/tutorial";



.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

/*********************
        BODY
**********************/
body{
  padding-top:106px;
  font-size:16px;
  font-weight: 100;
  font-family: 'GT Walsheim', sans-serif;

  @media screen and (max-width: 769px){
    padding-top:50px;
  }

  color:$text-color;

  h1, h2, h3, h4, h5 {
    font-family: 'GT Walsheim', sans-serif;
  }

  h1{
    font-size:60px;
    font-weight:300;
  }

  h2{
    font-size:40px;
    font-weight:300;
  }

  h3{
    font-size:20px;
    font-weight:100;
    margin: 0;
  }

  h4{
    font-size:18px;
    font-weight:400;
    color:$green;
    margin:0;
  }

  h5{
    font-size:14px;
    font-weight:400;
    text-transform:uppercase;
    margin:0;
  }

  p, a, span{
    font-size:16px;
    font-weight: 100;
  }

  p{
    color: $grey-text
  }

  a{
    color:$green;
  }

  ul{
    list-style: none;
    padding:0;
     margin: 0;
  }
}

/*********************
        BUTTONS
**********************/
.btn-default {
  background-color: $green;
  background-image: none;
  text-shadow: none;
  border-radius: 30px;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  padding: 15px 50px;
  display: inline-block;
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:hover:active {
  background-color: $green-hover;
  color: #fff;
  text-decoration: none;
}

/*********************
        INPUT
**********************/
.input-default{
    padding:15px;
    width: 100%;
    border: 1px solid rgba(27,24,51,0.15);
    @include border-radius($radius);
    box-shadow:none;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin: 0;
}

label{
  font-weight: 100;
  margin:0 0 0 15px;
  vertical-align: middle;
}

input[type="range"] {
      position: relative;
    }

/*********************
    INPUT TYPE RANGE
**********************/

input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

/**** Chrome ****/

input[type=range]{
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #E8E8EB;
    border: none;
    border-radius: 3px;

}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    border:1px solid #9694A0;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-ms-fill-lower {
    background: #E8E8EB;
}
input[type=range]:focus::-ms-fill-upper {
    background: #000;
}






/*********************
        NAVBAR
**********************/
.navbar-custom {
  background-color: $green;
  border: none;
}

  

