/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

@import "bootstrap/bootstrap-theme.min";
@import "bootstrap/bootstrap.min";

@import "variables";

@import "old-style";

@import "layout/header";
@import "layout/footer";

@import "pages/home";

body {
  padding-top: 60px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

/*********************
        BUTTONS
**********************/
.btn-default {
  background-color: $green;
  background-image: none;
  text-shadow: none;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  padding: 15px 50px;
  display: inline-block;
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:hover:active {
  background-color: $green-hover;
  color: #fff;
  text-decoration: none;
}
/*********************
        NAVBAR
**********************/
.navbar-custom {
  background-color: $green;
  border: none;
}