<div class="bloc_tutoriels">
  <div class="row">
    <h2 class="text-center">Tutoriels associés</h2>
    <div class="col-md-6">
      <iframe src="https://player.vimeo.com/video/132372651" width="640" height="260" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      <span>Rénover ses volets en bois</span>
    </div>
    <div class="col-md-6">
      <iframe src="https://player.vimeo.com/video/132372651" width="640" height="260" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      <span>Rénover ses volets en bois</span>
    </div>
    <div class="col-md-6">
      <iframe src="https://player.vimeo.com/video/132372651" width="640" height="260" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      <span>Rénover ses volets en bois</span>
    </div>
    <div class="col-md-6">
      <iframe src="https://player.vimeo.com/video/132372651" width="640" height="260" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      <span>Rénover ses volets en bois</span>
    </div>
  </div>
  <%= link_to "Tous nos tutoriels", tutorials_path, class: 'btn-default' %>
</div>