<div class="img-category">
  
    <h1>Peintures & colles</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a href="#">
            <span>Tous les produits</span>
          </a>
        </div>
        <div class="col-md-6">
          <a href="#">
            <span>peintures naturelles</span>
          </a>
        </div>
        <div class="col-md-6">
          <a href="#">
            <span>Finitions décoratives</span>
          </a>
        </div>
        <div class="col-md-6">
          <a href="#">
            <span>peintures ludiques</span>
          </a>
        </div>
      </div>
    </div>
  
</div>