<%= link_to product_path(product.slug) do %>
  <div class="one-product-block">
    <div class="row">
      <div class="col-xs-24 text-center">
        <h4><%= product.name %></h4>
        <% if product.product_images.present? %>
          <%= image_tag product.product_images.first.image.url(:medium) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>