<div class="">
  <h3>Catégories</h3>
  <div class="field">
    <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
    <label for="user_remember_me">Cloisons & Doublages (12)</label>
  </div>
  <div class="field">
    <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
    <label for="user_remember_me">Cloisons & Doublages (12)</label>
  </div>
  <div class="field">
    <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
    <label for="user_remember_me">Cloisons & Doublages (12)</label>
  </div>
</div>
<div class="">
  <h3>Types de bois</h3>
  <div class="field">
    <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
    <label for="user_remember_me">Cloisons & Doublages (12)</label>
  </div>
  <div class="field">
    <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
    <label for="user_remember_me">Cloisons & Doublages (12)</label>
  </div>
  <div class="field">
    <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
    <label for="user_remember_me">Cloisons & Doublages (12)</label>
  </div>
</div>
<div class="">
   <h3>Prix</h3>
   <input type="range" name="points" min="0" max="10">
</div>
