<div class="bloc-product-description">
  <div class="row">
  <div class="col-md-7 col-md-offset-1">
      <h3>Description & Détails techniques</h3>
      <p>Liège naturel expansé pur conditionné en panneau rigide. Isolant thermique et phonique, le liège est obtenu à partir du chêne liège, réduit en granulés puis expansé à la vapeur. L’énergie, nécessaire à l’expansion du liège est issue à 95 % de la biomasse et 5 % de l’électricité. Particulièrement adapté au milieu humide, le liège est imputrescible, résistant à l’écrasement, absorbant acoustique et auto extinguible.</p>
    </div>
    <div class="col-md-14 col-md-offset-1">
      <h3>Description & Détails techniques</h3>
      <p>Liège naturel expansé pur conditionné en panneau rigide. Isolant thermique et phonique, le liège est obtenu à partir du chêne liège, réduit en granulés puis expansé à la vapeur. L’énergie, nécessaire à l’expansion du liège est issue à 95 % de la biomasse et 5 % de l’électricité. Particulièrement adapté au milieu humide, le liège est imputrescible, résistant à l’écrasement, absorbant acoustique et auto extinguible.</p>
    </div>
  </div>
</div>