<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <% @product.product_images.each_with_index do |product_image, index| %>
      <div class="item <% if index == 0 %>active<% end %>">
        <%= image_tag product_image.image.url(:product) %>
      </div>
    <% end %>
  </div>
  <ul>
  	<div class="row">
      <% @product.product_images.each_with_index do |product_image, index| %>
        <div class="col-md-8">
          <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <% if index == 0 %>class="active"<% end %>>
          	 <%= image_tag product_image.image.url(:product) %>
          </li>
        </div>
      <% end %>
  	</div>
  </ul>
</div>