<div class="bloc-product-tuto">
  <div class="row">
  <div class="col-md-7 col-md-offset-1">
      <h3>Tuto : comment enduire le liège</h3>
      <iframe src="https://player.vimeo.com/video/132372651" width="640" height="260" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <a class="btn-default" href="/tutorials">Tous nos tutoriels</a>
    </div>
    <div class="col-md-14 col-md-offset-1">
      <h3>Conseil d'utilisation</h3>
      <span>Domaine d'utilisation</span>
      <p>Les panneaux de liège expansés sont particulièrement efficaces en isolation acoustique et thermique sous un revêtement type parquet ou dalle à clipser. Le liège expansé s’utilise pour l’isolation thermique, sous une dalle de béton, avant la pose d’un plancher chauffant.</p>
      <span>Domaine d'utilisation</span>
      <p>Les panneaux de liège expansés sont particulièrement efficaces en isolation acoustique et thermique sous un revêtement type parquet ou dalle à clipser. Le liège expansé s’utilise pour l’isolation thermique, sous une dalle de béton, avant la pose d’un plancher chauffant.</p>
    </div>
  </div>
</div>