<%= form_for search_path, url: search_path, :html => {:class => 'searchbox'}, method: :get do |f| %>
  <%= text_field_tag :search, params[:search], :class => 'searchbox-input', placeholder: 'Rechercher un produit, un tutoriel, ...' %>
  <%= button_tag(type: 'submit', class: "searchbox-submit") do %>
    <span class="searchbox-icon">
      <i class="fa fa-search"></i>
    </span>
  <% end %>
<% end %>